:root {
  --green-color: #14532d;
  --gray-bg: #e5e7eb;
}

html,
body {
  margin: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--green-color);
  background-color: var(--gray-bg);
  fill: var(--green-color);
}

.mt-auto {
  margin-top: auto;
}

.margin-right-small {
  margin-right: 0.5rem;
}

  .text-left {
    text-align: left;
  }

/* Utility class for screen reader only content */
  .sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

/* Generic card design */
.card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
}
