---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
  <div class="oops">
    <h1>404 - Seite nicht gefunden</h1>
    <p>Vielleicht bist du im Wald falsch abgebogen.</p>
    <p>Hier gibt's nur Bäume, aber keine Seite.</p>
    <p><a href="/">Zurück zur Startseite</a></p>
  </div>
</Layout>

<style>
  .oops {
    text-align: center;
    padding-top: 4rem;
  }
</style>
