<section id="contact" class="center-section">
    <p>Höhnhart 87</p>
    <p>5251 Höhnhart</p>

    <p><a href="tel:+436766331513">+43 676 / 6331513</a></p>
    <p>
        <a href="mailto:diermair.waldbewirtschaftung@gmail.com">diermair.waldbewirtschaftung@gmail.com</a>
    </p>
</section>
