---
---
<section id="kontakt" class="py-16 bg-gradient-to-b from-emerald-500 to-emerald-700 dark:from-emerald-800 dark:to-emerald-900 text-gray-100">
  <div class="max-w-3xl mx-auto px-4 text-center">
    <h2 class="text-3xl md:text-4xl font-bold mb-8">Kontakt</h2>
    <p>Höhnhart 87<br />5251 Höhnhart</p>
    <p class="mt-4"><a href="tel:+436766331513" class="underline">+43 676 / 6331513</a></p>
    <p><a href="mailto:diermair.waldbewirtschaftung@gmail.com" class="underline">diermair.waldbewirtschaftung@gmail.com</a></p>
  </div>
</section>
