---
import Logo from './Logo.astro';
---
<section id="hero">
    <div class="hero-logo">
        <Logo />
    </div>
    <h1 class="hero-title">Paul Diermair</h1>
    <h1 class="hero-subtitle">Forstwart & Forstwirtschaftsmeister</h1>
</section>
