---
import Logo from '../images/Logo.svg';

const logoAltText =
  'Logo der Diermair Waldbewirtschaftung – symbolisiert nachhaltige Forstwirtschaft mit drei grünen Tannenbäumen.';
---
<style>
  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-logo {
    margin-top: 5rem;
  }

  .hero-logo .logo {
    width: clamp(150px, 50vw, 300px);
    height: auto;
  }
</style>

<section id="hero">
    <h1 class="sr-only">Diermair Waldbewirtschaftung</h1>
    <figure class="hero-logo">
        <Logo class="logo" alt={logoAltText} />
        <figcaption>
            {logoAltText}
        </figcaption>
    </figure>
</section>
