---
import Logo from './Logo.astro';
---
<section id="hero" class="flex flex-col items-center">
    <Logo />
    <h1 class="text-4xl mb-3">Paul Diermair</h1>
    <h1 class="text-2xl mb-8">Forstwart & Forstwirtschaftsmeister</h1>
</section>
