<section id="leistungen">
    <h2>Leistungen</h2>
    <ul class="leistungen-list text-left">
        <li>Forstbewirtschaftung</li>
        <li>Waldpflege</li>
        <li>Holzernte</li>
    </ul>
</section>
