---
import { Axe, Trees, MessageSquare, Crosshair } from '@lucide/astro';
---

<section id="leistungen">
    <h2>Leistungen</h2>
    <div class="leistungen-grid">
        <div class="leistung-card card">
            <MessageSquare width={40} height={40} />
            <h3>Beratung</h3>
            <p>Individuelle Beratung für eine nachhaltige Waldbewirtschaftung.</p>
        </div>
        <div class="leistung-card card">
            <Axe width={40} height={40} />
            <h3>Holzernte</h3>
            <p>Effiziente und schonende Holzernte mit moderner Technik.</p>
        </div>
        <div class="leistung-card card">
            <Crosshair width={40} height={40} />
            <h3>Spezialbaumfällung</h3>
            <p>Fachgerechtes Fällen von Problembäumen auch in schwierigem Gelände.</p>
        </div>
        <div class="leistung-card card">
            <Trees width={40} height={40} />
            <h3>Waldpflege</h3>
            <p>Pflegearbeiten für gesunde und stabile Waldbestände.</p>
        </div>
    </div>
</section>

<style>
  #leistungen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #leistungen .leistungen-grid {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
  }


  @media (max-width: 639px) {
    .leistung-card {
      width: 100%;
    }
  }
</style>
