---
import Hero from './Hero.astro';
import Gallery from './Gallery.astro';
import Contact from './Contact.astro';
---
<div id="container" class="max-w-screen-lg mx-auto px-4">
    <main class="space-y-12">
        <Hero />
        <Gallery />
        <Contact />
    </main>
</div>
