---
import Hero from './Hero.astro';
import Gallery from './Gallery.astro';
import Contact from './Contact.astro';
---
<div id="container">
    <main>
        <Hero />
        <Gallery />
        <Contact />
    </main>
</div>
